
<p-dialog header="Find a parcel" [(visible)]="displaySearch" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"

          [maximizable]="true" [baseZIndex]="10000">


  <form>
    <label>
      Parcel number
    </label>
    <input type="number" id="parcelNumber" name="parcelNumber" #parcelNumber style="display: block">


    <p-footer style="margin-top: 20px">
      <button type="submit" class="btn btn-success" style="margin-top: 20px; float: right" (click)="addParcel(courier.id, parcelNumber.value)">Add</button>
      <button type="button" class="btn btn-danger" style="margin-top: 20px; margin-right: 20px; float: right" (click)="displaySearch=false">Cancel</button>
    </p-footer>
  </form>
</p-dialog>

<div>

  <app-header></app-header>
  <p-growl [(value)]="msgs"></p-growl>

  <app-car-position  *ngIf="this.courier" [courier]="this.courier"></app-car-position>
</div>


<div>
  <div class='wrapper' style="width: 80%; margin: auto; margin-top: 100px">


    <div style="margin-left: 12px; margin-bottom: -24px">
    <table style="width:100%">
      <tr>
        <th>Number</th>
        <th>Dest. city</th>
        <th>Dest. street</th>
        <th>Dest. post code</th>

        <th>Build. number</th>
        <th>Status</th>
      </tr>
    </table>
</div>
    <div class='container' [dragula]='"bag-one"'  [dragulaModel]='list' [dragulaOptions]="options" style="display: initial">
      <div *ngFor="let item of list" style=" height: 50px">


<div >
        <div style="width: 241px; text-align: center; display: inline-block">{{item.id}}</div>
        <div class="parcel-list">{{item.city}}</div>
        <div class="parcel-list">{{item.streetName}}</div>
  <div class="parcel-list">{{item.postCode}}</div>
  <div class="parcel-list">{{item.buildNumber}}</div>
  <div class="parcel-list" style="width: 200px" >{{item.status}}</div>
</div>
</div>
      </div>
    </div>
  <button type="button"    class="btn btn-warning"    [routerLink]="['/profile']" style="display: inline-block; color: white; margin-left:195px; float: left; width: 140px">Back</button>
  <button type="button" class="btn btn-danger" (click)="displaySearch = true" style="display: inline-block ; float: left; width: 140px; margin-left: 950px;"> Add parcel</button>

  <button type="button" [disabled]="disabled"   class="btn btn-primary"  (click)="updateParcels()"  style="display: inline-block; margin-right:195px; float: right; width: 140px">Save changes</button>


</div>


