<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 40px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/profile">Couriers list <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/parcels">Parcels list</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <i class="fa fa-sign-out" title="Log out" style="font-size: 40px; color: white; cursor: pointer; float:right; margin-left: 1500px" aria-hidden="true" (click)="logOut()" ></i>
    </div>


  </div>
</nav>
